<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.coderpage.mine"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".MineApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tally">

        <activity
            android:name=".app.tally.main.MainActivity"
            android:label="@string/tally_toolbar_title_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.tally.edit.ExpenseEditActivity"
            android:label="@string/tally_toolbar_title_add_record"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".app.tally.about.AboutActivity"
            android:label="@string/tally_toolbar_title_about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally"/>

        <activity
            android:name=".app.tally.chart.ChartActivity"
            android:label="@string/tally_toolbar_title_chart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally"/>

        <activity
            android:name=".app.tally.records.RecordsActivity"
            android:label="@string/tally_toolbar_title_records"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally"/>

        <activity
            android:name=".app.tally.records.CategoryRecordsActivity"
            android:label="@string/tally_toolbar_title_category_records"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tally"/>

        <!-- 账单数据库 provider -->
        <provider
            android:name=".app.tally.provider.TallyProvider"
            android:authorities="com.coderpage.mine.apps.tally"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true"/>
    </application>

</manifest>